body,html{

width: 100%;
height: 100%;

	}

header.audition{
	background-image: url(laptop.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
}

body{

	 font-family: 'Montserrat', sans-serif;
}
h1{

	color: purple;
	text-align: center;
	margin-top: 50px;
	font: bold;
	text-shadow: 1px 1px 1px #fff;
    
}

.btn{

	margin-top: 250px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Montserrat', sans-serif;

}

.btn-1x{

	padding: 1rem 2rem;
}

.btn-primary{

	background-color: #F05F44;
  border-color: #F05F44;
}